*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.idea/
logs/
dependency-reduced-pom.xml
aixforce-search/data
*.rdb
db/
*.versionsBackup
.svn/

